@charset "utf-8";
/* CSS Document */

.background{
	background:url(../images/wp3416319.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	width:100%;
	height:100vh;
}

.form-control{
	color: white;
    background-color: black;
    height: 46px;
	border:1px solid black;
	opacity: 0.3;
}
.h1{
	color: white;
    background-color: black;
    height: 46px;
	border:1px solid black;
	font-family: 'Tangerine', serif;
	text-align:center;
}
.container{
	height:400px;
	width:400px;
	background-color:black;
	opacity:0.3;
	background:url(../images/stainless-steel-metal-glass-mosaic-glass-tile-kitchen-backsplash-bathroom-shower-background-decorative-wall-tile-wallpaper.jpg_640x640.jpg);
	background-size:cover;
	background-repeat:repeat;
	border-radius:29px;

}
.btn{
	
	color:white;
	background-color:black;
	font-family:Verdana, Geneva, sans-serif;
	height:53px;
	font-family: 'Tangerine', serif;
	font-size:40px;

}

